.bc{
            background-color:#cb6b6b;
            border:3px solid rgb(14 13 13);
            padding: 20px; /*padding 4px,5px,6px,2px means top,right,bottom,left*/
            /*padding: 19 30; for y(top/botttom) x(left/right)*/
            margin: 5px;
            border-top-right-radius: 5px;
            border-radius: 10px;
            padding-left: 40px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 15px;
            width: 530px;
            box-sizing: border-box;


        }
